name: Deploy Develop App Site to Cloudflare Pages
on:
  workflow_dispatch:
    inputs:
      branch:
        default: "develop"
        description: "branch"
        type: string
  repository_dispatch:
    types:
      - deploy-develop-app-site
jobs:
  build:
    name: Deploy to Cloudfalre Pages
    runs-on: ubuntu-latest
    concurrency: build-dev-app-site
    steps:
      - uses: actions/checkout@v3
        with:
          repository: immersive-translate/site
          ref: ${{github.event.inputs.branch || 'develop'}}
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
      - run: git checkout -b main
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache-dependency-path: ./package-lock.json
      - name: install website
        run: npm i 
      - name: build app
        run: make buildtestapp
      - name: Publish Static to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.IMMERSIVE_CLOUDFLARE_API_TOKEN }}
          accountId: ${{secrets.IMMERSIVE_CLOUDFLARE_ACCOUNT_ID}}
          projectName: test-app-static
          directory: app/static-dist
      - name: Upload R2
        run: DEPLOYMENT_STAGE=test FOLDER=./app/build/ ID=app make upload
        env:
          CLOUFLARE_AWS_ACCESS_KEY_ID: ${{secrets.CLOUFLARE_AWS_ACCESS_KEY_ID}}
          CLOUFLARE_AWS_SECRET_ACCESS_KEY: ${{secrets.CLOUFLARE_AWS_SECRET_ACCESS_KEY}}
          CLOUFLARE_AWS_ENDPOINT: ${{secrets.CLOUFLARE_AWS_ENDPOINT}}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.IMMERSIVE_CLOUDFLARE_API_TOKEN }}
          accountId: ${{secrets.IMMERSIVE_CLOUDFLARE_ACCOUNT_ID}}
          projectName: develop-app3
          directory: app/dist

          # Optional: Enable this if you want to have GitHub Deployments triggered
          # gitHubToken: ${{ secrets.GITHUB_TOKEN }}
