name: Deploy develop readit to Cloudflare worker
on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - deploy-develop-readit-site
jobs:
  deploy:
    name: Deploy to Cloudfalre Pages
    runs-on: ubuntu-latest
    concurrency: build-develop-readit-site
    steps:
      - uses: actions/checkout@v3
        with:
          repository: funstory-ai/imt-backends
          ref: develop
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache-dependency-path: ./package-lock.json
      - name: Build website
        run: npm i && make prod-buildreadit
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.IMMERSIVE_CLOUDFLARE_API_TOKEN }}
          accountId: ${{secrets.IMMERSIVE_CLOUDFLARE_ACCOUNT_ID}}
          workingDirectory: readit
          command: deploy
