name: Deploy dash to Cloudflare Pages
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'dist/**'
jobs:
  build:
    name: Deploy to Cloudflare Pages
    runs-on: ubuntu-latest
    concurrency: build-web
    steps:
      - uses: actions/checkout@v3
        with:
          repository: immersive-translate/site
          # ref: ad
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache-dependency-path: ./package-lock.json
      - name: install dependencies
        run: npm i 
      - uses: actions/checkout@v3
        with:
          path: dash-repo

      - name: Upload R2
        run: DEPLOYMENT_STAGE=production FOLDER=./dash-repo/dist/ ID=dash make upload
        env:
          CLOUFLARE_AWS_ACCESS_KEY_ID: ${{secrets.CLOUFLARE_AWS_ACCESS_KEY_ID}}
          CLOUFLARE_AWS_SECRET_ACCESS_KEY: ${{secrets.CLOUFLARE_AWS_SECRET_ACCESS_KEY}}
          CLOUFLARE_AWS_ENDPOINT: ${{secrets.CLOUFLARE_AWS_ENDPOINT}}
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.IMMERSIVE_CLOUDFLARE_API_TOKEN }}
          accountId: ${{secrets.IMMERSIVE_CLOUDFLARE_ACCOUNT_ID}}
          projectName: dash
          directory: dash-repo/dist
