name: Deploy develop Router to Cloudflare worker
on:
  workflow_dispatch:
    inputs:
      branch:
        default: "develop"
        description: "branch"
        type: string
  repository_dispatch:
    types:
      - deploy-develop-router-site
jobs:
  build:
    name: Deploy to Cloudfalre Pages
    runs-on: ubuntu-latest
    concurrency: build-dev-router-site
    steps:
      - uses: actions/checkout@v3
        with:
          repository: immersive-translate/site
          ref: ${{github.event.inputs.branch || 'develop'}}
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
      # check to main branch
      - run: git checkout -b main
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache-dependency-path: ./package-lock.json

      - name: Deploy worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.IMMERSIVE_CLOUDFLARE_API_TOKEN }}
          accountId: ${{secrets.IMMERSIVE_CLOUDFLARE_ACCOUNT_ID}}
          workingDirectory: ./router
          command: deploy
