name: build firefox
on:
  workflow_dispatch:
    inputs:
      edge:
        default: "0"
        description: "is publish to edge"
        type: string
        required: false
      chrome:
        default: "0"
        description: "is publish to chrome"
        type: string
        required: false
  # repository_dispatch:
  #   types:
  #     - build-nightly-extension
  # push:
  #   branches:
  #     - main

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: nightly-build
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          repository: immersive-translate/next-translator
          # ref: official
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
      #https://stackoverflow.com/questions/61919141/read-json-file-in-github-actions
      - id: set_var
        run: |
          content=`cat ./manifest.json`
          echo "::set-output name=version::$(echo $content | jq -r '.version')"
      - name: Check version
        id: check_version
        continue-on-error: true
        run: |
          if [[ "${{ steps.set_var.outputs.version }}" =~ ^[0-9]+\.[0-9]+\.[1-9][0-9]*$ ]]; then
            echo "Version is nightly"
          else
            echo "Version is release"
            # exit 1
          fi
      - name: Setup Deno
        if: steps.check_version.outcome == 'success'
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.37.1
      # - uses: actions/setup-node@v3
      #   if: steps.check_version.outcome == 'success'
      #   with:
      #     node-version: '16.x'
      #     registry-url: 'https://registry.npmjs.org'
      # check version is 3 digits x.x.1-9 or x.x.0
      - name: Test
        if: steps.check_version.outcome == 'success'
        run: make test
      - name: Build for release zip file
        if: steps.check_version.outcome == 'success'
        run: RELEASE_ZIP=1 make prod-buildzip
      - name: Add Version to folders
        if: steps.check_version.outcome == 'success'
        run: |
          cp dist/chrome.zip dist/chrome-immersive-translate-${{ steps.set_var.outputs.version }}.zip
          cp dist/firefox.zip dist/firefox-immersive-translate-${{ steps.set_var.outputs.version }}.zip

      - name: Build for store
        if: steps.check_version.outcome == 'success'
        run: make prod-buildall
      - run: ls -l dist
      - run: ls -l dist/firefox_store/
      - name: get sum
        run: sha256sum ./dist/firefox_store/content_script.js

      - name: Build for store
        if: steps.check_version.outcome == 'success'
        run: make prod-buildall
      - run: make zipsource
